<footer class="site-footer">
  <div class="row">
    <div class="four columns hide-on-mobiles">
      <p><img src="{{ "/images/logos/rb.svg" |  prepend: site.baseurl }}" width="100%" style="margin-bottom: 1em" alt="reproducible-builds.org"></p>
      <p>{{ site.description }}</p>
    </div>
    <div class="four columns">
      <p>
        <a href="https://twitter.com/ReproBuilds">
          <span class="icon twitter">
            <svg version="1.1" class="twitter-icon-svg" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
               viewBox="0 0 16 16" enable-background="new 0 0 16 16" xml:space="preserve">
              <path fill="#C2C2C2" d="M15.969,3.058c-0.586,0.26-1.217,0.436-1.878,0.515c0.675-0.405,1.194-1.045,1.438-1.809
              c-0.632,0.375-1.332,0.647-2.076,0.793c-0.596-0.636-1.446-1.033-2.387-1.033c-1.806,0-3.27,1.464-3.27,3.27
              c0,0.256,0.029,0.506,0.085,0.745C5.163,5.404,2.753,4.102,1.14,2.124C0.859,2.607,0.698,3.168,0.698,3.767
              c0,1.134,0.577,2.135,1.455,2.722C1.616,6.472,1.112,6.325,0.671,6.08c0,0.014,0,0.027,0,0.041c0,1.584,1.127,2.906,2.623,3.206
              C3.02,9.402,2.731,9.442,2.433,9.442c-0.211,0-0.416-0.021-0.615-0.059c0.416,1.299,1.624,2.245,3.055,2.271
              c-1.119,0.877-2.529,1.4-4.061,1.4c-0.264,0-0.524-0.015-0.78-0.046c1.447,0.928,3.166,1.469,5.013,1.469
              c6.015,0,9.304-4.983,9.304-9.304c0-0.142-0.003-0.283-0.009-0.423C14.976,4.29,15.531,3.714,15.969,3.058z"/>
            </svg></span></a>
        <a href="https://twitter.com/ReproBuilds">
          <span class="username">@ReproBuilds</span>
        </a>
      </p>
      <p>
        Content licensed under <a href="https://creativecommons.org/licenses/by-sa/4.0/">CC BY-SA 4.0</a>.
      </p>
      <p>
        Logos and trademarks belong to their respective owners.
      </p>
    </div>
    <div class="four columns hide-on-mobiles">
      <p>
        <a href="{{ "/who/" | prepend: site.baseurl }}">Projects</a> working on reproducible builds:
      </p>
      <ul>
        <li>
          {% for project in site.data.projects %}
          <a href="/who#{{ project.name }}">{{ project.name }}</a>{% unless forloop.last %},{% endunless %}{% endfor %}.
        </li>
        <li>
          Please <a href="https://lists.reproducible-builds.org/listinfo/rb-general">tell us</a> about yours!
        </li>
      </ul>
    </div>
  </div>
  <div class="row hide-on-mobiles">
    <div class="twelve columns git-location">
      <p>
        Patches highly welcome <a href="https://salsa.debian.org/reproducible-builds/reproducible-website">through our Git repository</a><br>
          (<a href="{{ "/contribute/salsa/" | prepend: site.baseurl }}">more info</a>) or via <a href="https://lists.reproducible-builds.org/listinfo/rb-general">our mailing list</a>.
      </p>
    </div>
  </div>
</footer>
